*{
margin:0;
padding:0;
}
body{
background-color:#E6CCB2;
}
.creators{
background-color:#B08968;
text-align:center;
width:100%;
padding:20px 0px;
font-weight:bold;
position:relative;
top:500px;
}
img#pic{
width:450;
height:300px;
position:relative;
top:-130px;
float:right;
margin:0px 30px 0px 0px;
border: solid 5px #7F5539;
}
img#pic1{
width:300;
margin:20px 50px 20px 50px;
position:relative;
float:right;
border: solid 5px #7F5539;
}
img#pic2{
width:300;
margin:20px 50px 20px 50px;
position:relative;
float:left;
border: solid 5px #7F5539;
}
img#pic3{
width:500;
height:300;
margin:20px 50px 20px 50px;
position:relative;
border: solid 5px #7F5539;
}
img#pic4{
width:500;
height:300px;
position:relative;
margin:30px 30px;
top:360px;
border: solid 5px #7F5539;
}
img#pic5{
width:900;
height:300px;
position:relative;
margin:30px 30px;
border: solid 5px #7F5539;
}
img#pic6{
width:500;
height:300px;
position:relative;
margin:30px 30px;
border: solid 5px #7F5539;
}
img#poster{
width:60%;
position:relative;
top:242.5px;
}
img#creatorpic{
width:300px;
height:300px;
position:relative;
top:20px;
margin:20px 20px 20px 20px;
border: solid 10px #7F5539;
}
.budget{
position:relative;
top:100px;
margin:20px 20px;
}
.padding1{
padding:0px 30px 0px 30px;
}
.title{
font-family:Lobster;
font-weight:bold;
font-size:150px;
color:#fff;
position:relative;
top:100px;
text-transform:uppercase;
word-spacing:10px;
}
.banner{
height:80vh;
width:100%;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Banner.jpg);
background-size:cover;
background-position:center;
}
.navbar{
margin:auto;
padding:35px 0px;
cursor:pointer;
position:relative;
top:10px;
right:10px;
}
.logo{
width:120px;
position:absolute;
top:10px;
left:30px;
}
.links{
background-color:#E6CCB2;
color:black;
border-radius:30px;
padding:10px 20px;
text-decoration:none;
position:relative;
letter-spacing:2px;
text-transform:uppercase;
font-weight:bold;
transition:.5s ease;
font-family:sans-serif;
}
.links:hover{
background-color:white;
position:relative;
}

